<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>spring thymeleaf</title>
</head>
<body>

	<form action="/upload" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend>文件上传</legend>
				姓名：<input type="text" name="name" /><br/><br/>
				照片:<input type="file" name="photo" /><br/><br/>
				视频:<input type="file" name="photo" /><br/><br/>
				<input  type="submit" value="提交"/>
				<input  type="reset" value="重置"/>
		</fieldset>
	</form>	

</body>
</html>

























